:root {
    --line-border-fill: black;
    --line-border-empty: red;
}

* {
    box-sizing: border-box;
}

body {
    /* background-color: #1f1f1f; */
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

.step-container {
    display: inline-flex;
}

.container {
    text-align: center;
}

.step-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;

}

.step-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
}