html,
body {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.step-container {
    display: inline-flex;
}

.step {
    border: 2px solid grey;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    /* flex-direction: row; */

}

.line {
    border: 2px solid grey;
    /* flex-direction: row;  */
    height: 1px;
    /* text-align: center; */
}