@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    height: 100vh;
    margin: 8px;
    display: block;
    background-color: #F0F0F0;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    margin: 50px 0 30px;
}

.container {
    max-width: 600px;
    margin: 0 auto;

}

.accordion {
    border: 1px solid #BDC1C5;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: left;

}

.faq-heading::after {
    content: "\02795";
    float: right;
    font-size: 18px;
}

.faq-heading {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.faq-heading,
.faq-content {
    padding: 20px 20px;
}

.faq-heading {
    display: block;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: background-color 0.1s
}

.faq-content {
    background-color: white;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
}

.faq-input {
    display: none;
}

.faq-input:checked~.faq-content {
    display: block;

}