@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

h1 {
    font-size: 60px;
}

button {
    color: white;
    font-weight: bolder;
    width: 250px;
    height: 80px;
    border: 5px solid white;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;

}

#ps {
    background: url('ps.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(87, 84, 236, 0.7);

}


#ps button {
    background-color: rgba(87, 84, 236, 1);
}

#ps button:hover {
    background-color: rgba(87, 84, 236, 1);
    border: 0;
}


#xbox {
    background: url('xbox.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(43, 43, 43, 0.5);
}

#xbox button {
    background-color: rgba(43, 43, 43, 0.8);
}

#xbox button:hover {
    background-color: rgba(28, 122, 28, 1);
    border: 0;
}