@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #A164DF;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.btn {
    margin: 1rem;
    border-radius: 5px;
    border: 0;
    background-color: #6C39A0;
    color: white;
    padding: 1.5rem 3rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
}