* {
    box-sizing: border-box;
}

body {
    background-color: #8F44AE;
    color: white;
    font-family: monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.count-container {
    di
}