@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

p {
    border: 1px solid #999999;
    background-color: #EEEEEE;
    text-align: center;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
}

.key {
    display: none;
    flex-direction: column;
    margin: 10px;
    position: relative;
}

.key small {
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 14px;
}